* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */


/* MAIN */

section {

}

.box {
  width: calc(100% - 20px);
  height: calc(100vh - 20px);
  margin: 0 10px auto;
}

.text-shoes-1 h1 {
  position: absolute;
  top: 75%;
  right: 7%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: yellow;
  text-align: center;
  font-size: 55px;
}

#shoes-1 {
  background-image: url(../img/01.png);
  background-color: red;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;

}

.shoes-text h1 {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50% -50%);
}