/* GENERAL PRESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */


nav ul {
  position: absolute;
  top: 45px;
  right: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  background-color: white;
  line-height: 50px;
  margin-right: 30px;
  border-radius: 50px;
}

nav ul li a{
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 0 20px;
}

nav ul li a:hover {
  background-color: lightgrey;
  border-radius: 50%;

}

nav ul a:active {
  text-shadow: 7px 7px 7px black;
}


/* MAIN */

.box {
  width: calc(100% - 20px);
  height: calc(100vh - 20px);
  margin: 0 10px auto;
  position: relative;
}

.product {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* MAIN - SHOES 1 */

#shoes-1 {
  background-color: red;
}

.text-shoes-1 {
  text-transform: uppercase;
  color: yellow;
  text-align: center;
  font-size: 58px;
}


/* MAIN - SHOES 2 */


.text-shoes-2 {
  text-transform: uppercase;
  color: yellow;
  text-align: center;
  font-size: 58px;
}

#shoes-2 {
  background-color: green;
}


/* MAIN - SHOES 3 */

.text-shoes-3 {
  text-transform: uppercase;
  color: green;
  text-align: center;
  font-size: 58px;
}

#shoes-3 {
  background-color: yellow;
}

