/* GENERAL PRESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
scroll-behavior: smooth;
}

body {
  font-family: 'Rubik Mono One', sans-serif;
}


/* MAIN */

.box {
  width: calc(100% - 20px);
  height: calc(100vh - 20px);
  margin: 0 10px auto;
  position: relative;
}

.product {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product img {
  width: 100%;
}


/* MAIN - MENU' */



nav ul {
  position: fixed;
  z-index: 999;
  list-style: none;
  top: 45px;
  right: 0;
}

nav ul li {
float: left
}

nav ul li a{
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  background-color: white;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin: 0 20px;
  box-shadow: rgba(143, 143, 143, 0.4);
}

nav ul li a:hover {
  background-color: rgb(200, 200, 200);
  box-shadow: 0 8px 6px rgba(0, 0, 0, .4)
  
}

nav ul li a:active {
  box-shadow: 0px 5px 3px (0, 0, 0, .4);
  background-color: rgb(99, 99, 99);
}


/* MAIN - SHOES 1 */

#shoes-1 {
  background-color: red;
}

.text-shoes-1 {
  text-transform: uppercase;
  color: yellow;
  text-align: center;
  font-size: 58px;
}


/* MAIN - SHOES 2 */

.text-shoes-2 {
  text-transform: uppercase;
  color: yellow;
  text-align: center;
  font-size: 58px;
}

#shoes-2 {
  background-color: green;
}


/* MAIN - SHOES 3 */

.text-shoes-3 {
  text-transform: uppercase;
  color: green;
  text-align: center;
  font-size: 58px;
}

#shoes-3 {
  background-color: yellow;
}